{% extends 'layout.html' %}

{% block title %}
<title>{{title}}</title>
{% endblock %}

{% block content %}

<body class="text-center">
    <div class="container-sm col-md-5">
        <div class="row"></div>
        <div class="col-md-6"></div>
        <div class="col-md-6"></div>
        <h1 class="h3 mb-3 mt-3 font-weight-normal">Please Create Your Account</h1>
        <form method="POST" class="form-register" style="color:white">
            {{ form.csrf_token }}
            <div class="text-left" style="color:black">
                {{form.first_name.label()}}
                {{form.first_name(id="first_name_new ", class="form-control",placeholder="First Name")}}
                {{form.email.label()}}
                {{form.email(id="email_new", class="form-control",placeholder="Email")}}
                {{form.password.label()}}
                {{form.password(id="password_new", class="form-control",placeholder="Password")}}
                {{form.repeat_password.label()}}
                {{form.repeat_password(id="password_confirm", class="form-control",placeholder="Confirm Password")}}
            </div>
            <br>
            <i>{{form.submit(class = "btn btn-lg btn-block btn-primary")}}</i>
        </form>
    </div>
</body>


{% endblock %}